* {
    box-sizing: border-box;
}

body,
html {
    height: 100%;
    width: 100%;

    margin: 0;
    padding: 0;
}

body {
    background-color: #282828;
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.125rem;
}

ruby {
    font-size: 4rem;
    color: #f1f1f1;
    font-weight: bold;

    user-select: none;

    rt {
        font-family: 'Source Sans Pro', sans-serif;
    }
}

a {
    text-decoration: none;
    color: #f1f1f1;

    transition: color 0.25s ease;

    &:hover {
        color: #282828;
    }
}

.wrapper {
    position: relative;
    width: 80vh;
    height: 40vh;

    background-color: #f1f1f1;

    .header {
        width: 100%;
        height: 50%;
        min-height: 50%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;

        background-color: #282828;
    }

    .content {
        height: 50%;
        position: relative;
        display: flex;
        flex-direction: column;

        box-shadow: 3px 3px 3px 1px rgba(16, 16, 16, 0.16);

        .links {
            width: 100%;
            flex: 1;
            position: relative;
            top:0;
            left:0;
            background-color: #ebdbb2;

            ul {
                list-style: none;
                display: flex;
                padding: 0;
                margin: 0;
                height: 100%;
                justify-content: space-around;
                align-items: center;

                li {
                    font-weight: 500;
                }

                p {
                    color: #f1f1f1;
                    margin: 0;
                }
            }
        }

        .links:nth-child(1) {
            background-color: #23183D;
        }

        .links:nth-child(2) {
            background-color: #1B263C;
        }

        .links:nth-child(3) {
            background-color: #561C20;
        }

        .links:last-child {
            background-color: #204a18;
        }
    }
}

.hidden div span {
    visibility: hidden;
}