@charset "UTF-8";

// SCSS Variables

$colour_blue: #443dcc;
$colour_red: #cc4849;
$colour_cyan: #8ab3cc;
$colour_pink: #cc84ac;

$colours: $colour_blue, $colour_red, $colour_cyan, $colour_pink, $colour_blue, $colour_red, $colour_cyan, $colour_pink;

// Basics

html,
body {
    margin: 0;
    padding: 0;

    height: 100%;
}

body {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    color: #f1f1f1;
    background-color: #0a0a0a;
    overflow: hidden;

    box-sizing: border-box;

    font-family: 'Lato', sans-serif;
    letter-spacing: 0.05rem;
}

*, *::before, *::after {
    box-sizing: inherit;
}

// Typography

h1 {
    position: relative;
    align-self: center;
    text-transform: lowercase;

    margin-bottom: 0;
}

a {
    position: relative;
    text-decoration: none;
    color: #f1f1f1;
}

ul {
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 1;

    padding: 0.2rem 0.8rem;
    margin: 0.5rem 1rem;

    min-width: 150px;

    list-style-type: none;

    li {
        position: relative;
        z-index: 2;
    }

    @for $i from 1 through 5 {
        li:nth-of-type(#{$i}):hover ~ li.highlight {
            top: calc(19px * #{$i} - 5.5px);
            width: 50px;
            right: 0;
        }
    }

    li.highlight {
        content: '';
        position: absolute;
        width: calc(100% - 1.6rem);
        height: 2px;

        top: -4px;
        right: 0.8rem;
        z-index: -1;

        transition: all 0.225s ease;
    }

    @for $i from 1 through 4 {
        &:nth-of-type(#{$i}) li.highlight {
            opacity: 0.3;
            background-color: nth($colours, $i);
        }

        &:hover li.highlight {
            opacity: 1;
            height: 4px;
            top: -6px;
        }
    }

    @media screen and (max-width: 800px) {
        min-width: 40%;
    }
}

// Layout

main {
    display: flex;
    flex-flow: column wrap;

    z-index: 1;
}

#menu {
    display: flex;
    flex-flow: row wrap;

    text-transform: lowercase;
}

#info {
    display: flex;
    flex-flow: row wrap;

    justify-content: center;

    p {
        font-size: 0.7rem;
        margin: 0 0 0.5rem 0;
        padding: 0 0.5rem;
    }
}

// Animation

#lines,
#back_lines {
    position: fixed;
    top: 0;
    left: 0;
}

#lines {
    filter: brightness(0.8);
    z-index: -1;

    div {
        position: absolute;
        height: 15vh;
        width: 2vh;

        transform: translateY(-100vh);

        border-radius: 4px;

        background-color: #443dcc;

        will-change: transform;
    }

    @for $i from 1 through 8 {
        div:nth-child(#{$i}) {
            height: calc(400px + #{$i} * 30px);
            left: calc(45px * #{$i});
            background-color: nth($colours, $i);

            animation: falling#{$i} (random(8) + 2 + s) (random() + s) (cubic-bezier(0, 0, 1, 1)) infinite;

            @keyframes falling#{$i} {
                0% {
                    transform: perspective(150px) translate3d(0, -100vh, 50px);
                }

                100% {
                    transform: perspective(150px) translate3d(0, 100vh, 50px);
                }
            }
        }
    }
}

#back_lines {
    filter: brightness(0.2);
    z-index: -2;

    div {
        position: absolute;
        height: 15vh;
        width: 2vh;

        transform: translateY(-100vh);

        border-radius: 4px;

        background-color: #443dcc;

        will-change: transform;
    }

    @for $i from 1 through 5 {
        div:nth-child(#{$i}) {
            height: calc(400px + #{$i} * 30px);
            left: calc(85px * #{$i});
            background-color: nth($colours, $i);

            animation: back_falling#{$i} (random(2) + 2 + s) (random() + s) (cubic-bezier(0, 0, 1, 1)) infinite;

            @keyframes back_falling#{$i} {
                0% {
                    transform: perspective(150px) translate3d(0, -100vh, -125px);
                }

                100% {
                    transform: perspective(150px) translate3d(0, 200vh, -125px);
                }
            }
        }
    }
}